*, *::before, *::after {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 400;
}

a, h1, h2, h3, h4, h5, h6 {
  text-decoration: none;
}

.header__btn, .intro__btn, .about__btn, .menu .learn__titlebtn, .m-item__btn, .away__btn, .contact__btn {
  padding: 13px 30px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 18.75px;
  color: #fff;
  background: #DC780B;
  display: block;
  text-align: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.header__btn:hover, .intro__btn:hover, .about__btn:hover, .menu .learn__titlebtn:hover, .m-item__btn:hover, .away__btn:hover, .contact__btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.subtitle, .about__subtitle, .menu__subtitle, .away__subtitle, .testimonials__subtitle, .contact__subtitle {
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 18.75px;
  letter-spacing: 2px;
  color: #DC780B;
  text-transform: uppercase;
  font-weight: 500;
  opacity: .7;
}

.intro__title, .title, .f-item__title, .about__title, .menu__title, .m-item__title, .m-item__price, .away__title, .testimonials__title, .contact__title, .footer__title {
  color: #150C01;
  font-weight: 700;
  font-family: 'Philosopher', sans-serif;
}

.intro__text, .f-item__text, .about__text, .menu__text, .m-item__text, .away__text, .testimonials__text {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  opacity: .7;
  color: #150C01;
}

.container {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

.header {
  position: fixed;
  background: white;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 10;
}

.header__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 11fr;
      grid-template-columns: 1fr 11fr;
  padding: 30px 0;
}

.header__move {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 7fr 1fr;
      grid-template-columns: 7fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link {
  margin-left: 35px;
  color: #150C01;
  opacity: .6;
}

.header__btn {
  width: 155px;
  height: 46px;
}

.header__burger {
  display: none;
}

.header__burger_btn {
  border: none;
  background: transparent;
  font-size: 30px;
  color: #DC780B;
  -webkit-animation: bounce 2s ease-in-out infinite;
          animation: bounce 2s ease-in-out infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.intro {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  padding: 100px 0;
}

.intro__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-row-gap: 45px;
  max-width: 555px;
  margin-left: 120px;
}

.intro__title {
  width: 100%;
  font-size: 49px;
  line-height: 57.6px;
}

.intro__text {
  font-weight: 500;
}

.intro__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.intro__btn {
  width: 170px;
  height: 60px;
  padding: 20px 40px;
  margin-right: 20px;
  font-weight: 500;
}

.intro__image {
  max-width: 750px;
  height: 670px;
}

.intro__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.white-btn {
  background: transparent;
  border: 1.5px solid #dc770b20;
  color: #DC780B;
}

.features {
  max-width: 1440px;
  margin: 0 auto 110px;
  background: url("../img/features/f-shape.svg") no-repeat;
  background-position: 0 250px;
  background-size: contain;
}

.features__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 90px;
          column-gap: 90px;
  padding: 0 30px;
  justify-items: center;
}

.title {
  text-align: center;
  margin-bottom: 24px;
  font-size: 31.25px;
  line-height: 35px;
}

.f-item {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
  max-width: 300px;
  margin: 20px 0;
}

.f-item__image {
  width: 88px;
  height: 88px;
  background: #8fa6321c;
  border-radius: 50px;
  position: relative;
  margin-bottom: 33px;
}

.f-item__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.f-item__title {
  margin-bottom: 15px;
  font-size: 25px;
  line-height: 1;
}

.about {
  margin-top: 88px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 66px;
          column-gap: 66px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__image {
  max-width: 555px;
  border-radius: 35px;
  overflow: hidden;
  height: 500px;
}

.about__image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.about__content {
  margin: 0 32px;
  max-width: 487px;
}

.about__subtitle {
  text-align: left;
}

.about__title {
  font-size: 31.25px;
  line-height: 1.3;
  margin-bottom: 30px;
}

.about__text {
  margin-bottom: 30px;
}

.about__btn {
  width: 142px;
  height: 42px;
}

.menu {
  margin-bottom: 46px;
}

.menu__title {
  margin-bottom: 25px;
  font-size: 31.25px;
  line-height: 24px;
  text-align: center;
}

.menu__text {
  max-width: 748px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 45px;
}

.menu__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.menu .learn__titlebtn {
  width: 142px;
  height: 42px;
  margin: 35px auto 0;
  background: transparent;
  border: 1.5px solid #dc770b20;
  color: #DC780B;
  margin-bottom: 187px;
}

.m-item {
  max-width: 360px;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 75px 10px 10px 10px;
  overflow: hidden;
  margin: 15px;
}

.m-item__content {
  padding: 21px 25px 25px 25px;
}

.m-item__image {
  overflow: hidden;
}

.m-item__image img {
  border-radius: 0 0 75px 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.m-item__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.m-item__title {
  font-size: 25px;
  line-height: 24px;
}

.m-item__price {
  font-size: 25px;
  line-height: 24px;
}

.m-item__text {
  margin-bottom: 20px;
}

.m-item__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.m-item__btn {
  padding: 11px;
  width: 34px;
  height: 34px;
}

.away {
  max-width: 1440px;
  height: 518px;
  margin: 0 auto;
  background: #fbf1e76c;
  margin-bottom: 210px;
}

.away__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  -webkit-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-right: 30px;
}

.away__content {
  max-width: 635px;
  padding: 0 40px;
}

.away__subtitle {
  text-align: left;
}

.away__title {
  font-size: 31.25px;
  line-height: 1.3;
  margin-bottom: 29px;
}

.away__text {
  margin-bottom: 39px;
}

.away__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.away__btn {
  width: 163px;
  height: 48px;
  margin: 0 30px 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.away__btn img {
  margin-right: 10px;
}

.away__image {
  max-width: 323.14px;
  height: 651px;
  border-radius: 59px;
  margin-top: -67px;
  overflow: hidden;
}

.appstore {
  background: #150C01;
}

.playstore {
  background: transparent;
  border: 1.5px solid #150c011e;
  color: #150C01;
  font-weight: 700;
  padding: 13px 23px;
}

.testimonials__info {
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 18px;
}

.testimonials__title {
  font-size: 31.25px;
  line-height: 24px;
  margin-bottom: 23px;
}

.testimonials__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 120px;
}

.testimonials__content_inner {
  max-width: 506px;
  margin: 0 auto;
  text-align: center;
}

.testimonials__toleft {
  padding: 0 20px;
}

.testimonials__image {
  height: 140px;
  background: url(../img/testimonials/shape.svg) no-repeat;
  background-position: 48% 40%;
  background-size: 133px 103px;
  margin-bottom: 8px;
}

.testimonials__image img {
  margin-top: 50px;
  border-radius: 50px;
}

.testimonials__rating {
  margin: 20px 0 30px;
}

.testimonials__name {
  margin-bottom: 6px;
  font-size: 16px;
  line-height: 18.75px;
  color: #000;
  text-transform: uppercase;
}

.testimonials__profession {
  font-size: 12px;
  line-height: 14px;
  color: #000;
  opacity: .7;
}

.testimonials__toright {
  padding: 0 20px;
}

.contact {
  background: #FBF1E7;
  max-width: 1440px;
  margin: 0 auto;
}

.contact__inner {
  max-width: 750px;
  margin: 0 auto;
  padding: 115px 0;
  text-align: center;
}

.contact__title {
  font-size: 31.25px;
  line-height: 1.3;
  margin-bottom: 46px;
}

.contact__form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10fr 2fr;
      grid-template-columns: 10fr 2fr;
  max-width: 750px;
}

.contact__input {
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px 0px 0px 10px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 18px;
  line-height: 38px;
  padding: 14px;
  font-weight: 500;
}

.contact__btn {
  width: 156px;
  height: 65px;
  font-size: 18px;
  line-height: 38px;
}

.footer {
  background: #252525;
}

.footer__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 137px 30px 104px;
}

.footer__column ul {
  padding: 0;
}

.footer__column ul li {
  list-style: none;
  margin-bottom: 20px;
}

.footer__logo {
  margin-bottom: 25px;
}

.footer__link {
  color: #fff;
  opacity: .7;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}

.footer__title {
  margin-bottom: 26px;
  font-size: 18px;
  line-height: 20px;
  color: #fff;
}

.footer__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__icons img {
  margin-right: 10px;
}

@media (max-width: 976px) {
  .intro__inner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
  .intro__image {
    max-width: 801px;
    width: 100%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .intro__content {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    padding: 0 40px;
    margin: 0;
    text-align: center;
  }
  .intro__btns {
    margin: 0 auto;
  }
  .menu__items {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .away {
    margin-bottom: 170px;
    height: 580px;
  }
  .away__inner {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .away__image {
    margin-top: -40px;
  }
}

@media (max-width: 840px) {
  .header__inner {
    -ms-grid-columns: 11fr 1fr;
        grid-template-columns: 11fr 1fr;
  }
  .header__link {
    margin-left: 0;
  }
  .header__btn {
    margin: 0 auto;
  }
  .header__burger {
    display: block;
  }
  .header__move {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 11fr 1fr;
        grid-template-columns: 11fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    background: #fff;
    position: fixed;
    width: 100%;
    height: 91vh;
    top: 100px;
    left: -100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .header__move .header__link {
    display: block;
    font-size: 24px;
    padding: 20px 0;
    text-transform: uppercase;
    font-weight: 500;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
  }
  .header__move .header__link:hover {
    background: #eecd85;
  }
  .intro__image {
    height: auto;
  }
  .intro__image__btns {
    display: block;
  }
  .show {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    left: 50%;
  }
  .show .intro {
    margin-top: 90vh;
  }
  .features__items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: center;
  }
  .about__image {
    margin-bottom: 50px;
  }
  .about__content {
    text-align: center;
  }
  .about__subtitle {
    text-align: center;
  }
  .about__btn {
    margin: 0 auto 25px;
  }
  .menu__items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .away {
    margin-bottom: 140px;
    height: auto;
  }
  .away__inner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
    margin-right: 0;
  }
  .away__subtitle {
    text-align: center;
    margin-top: 30px;
  }
  .away__btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .away__btn {
    margin: 0 15px 10px;
  }
  .away__image {
    margin: 40px 0;
  }
  .contact__form {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .contact__btn {
    margin: 0 auto;
  }
  .footer__inner {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    row-gap: 40px;
    text-align: center;
  }
  .footer__icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 500px) {
  .intro__title {
    font-size: 35px;
    line-height: 1.2;
  }
  .intro__text {
    font-weight: 400;
  }
  .intro__btns {
    display: block;
  }
  .footer__inner {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 40px;
    text-align: center;
  }
  .footer__icons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=style.css.map */